<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>FUMBBL :: Online Blood Bowl League</title>
<meta name="KEYWORDS" content="blood bowl, blood, bowl, bloodbowl, play, online, league, javabbowl, javabowl, fantasy football, fantasy, football, ffb, lrb, lrb5, lrb6, lrb4 lrb 5, lrb 6, lrb 4">
<meta name="DESCRIPTION" content="Free, Online Blood Bowl League!">
<meta name="ROBOTS" content="INDEX,FOLLOW,NOODP">
<meta name="resource-type" content="document">
<meta http-equiv="expires" content="0">
<meta name="author" content="FUMBBL">
<meta name="revisit-after" content="1 days">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<link rel="search" type="application/opensearchdescription+xml" title="FUMBBL Search" href="http://fumbbl.com/search.xml"><link rel="StyleSheet" href="https://fumbbl.com/style/reset.css" type="text/css">
<link rel="StyleSheet" href="https://fumbbl.com/style/Aristo.css/v1.css" type="text/css">
    <link rel="StyleSheet" href="https://fumbbl.com/style/_fc97944c3f_/fumbbl.css" />
<link rel="StyleSheet" href="https://fumbbl.com/style/gln.css" type="text/css">
<link rel="StyleSheet" href="https://fumbbl.com/style/userguide.css/v2.css" type="text/css">
<link rel="StyleSheet" href="https://fumbbl.com/themes/pastel/style/_c80b39bbfb_/style.css" /><link rel="icon" href="/favicon.png" type="image/png">
<link rel="alternate" title="FUMBBL RSS" href="http://fumbbl.com/backend.php" type="application/rss+xml"><link rel="shortcut icon" href="/favicon.png" type="image/png">

<!-- <link rel="StyleSheet" href="https://fumbbl.com/FUMBBL/pages/style/_7d8abc205b_/lfg2.css" /> -->
<script defer type="text/javascript" src="https://fumbbl.com//javascript/vue.js"></script>
<!-- <script defer type="text/javascript" src="/dist/_de2ed74ba0_/gamefinder.js"></script> -->

<link rel="stylesheet" href="lfg2.css">
<script defer type="text/javascript" src="lfg2.js"></script>
<script defer type="text/javascript" src="axios/axios.min.js"></script>

</head>
<body>


<div class="contentwrapper">
            <div class="searchbox">
                <form method="post" action="">
                    <input id="s" type="text" name="s" onclick="this.value='';" value="Find coach or team">
                    <input id="submit" type="submit" value="">
                </form>
            </div>
        
            <a class="donatebox" href="https://fumbbl.com/p/donate">
                <img style="width: 100%" src="https://fumbbl.com/themes/pastel/images/donate.png" />
            </a>
        <div class="topheader">
          <a href="https://fumbbl.com/~HimalayaP1C7" style="width: 225px; height: 87px; display: block; text-decoration: none;">&nbsp;</a></div>
          <div class="topnav"><ul><li><div><a href="/~HimalayaP1C7">Home</a></div></li><li><div><a href="/p/games">Game</a></div></li><li><div><a href="/modules.php?op=modload&name=Sections&file=index&req=viewarticle&artid=13&page=1">Community</a></div></li><li><div><a href="/modules.php?op=modload&name=PNphpBB2&file=index">Forums</a></div></li><li><div><a href="/help:">Help</a></div></li><li><div><a href="/p/bookmarks">Bookmarks</a></div></li></ul></div><div class="topnav2"><div class="onlinecount">34 coaches online &bull; Server time: <span class="bbtime">15:14</span></div><div class="dyk">* * * <a href="/p/didyouknow">Did you know?</a> The player with the strongest arm is <a href="FUMBBL.php?page=player&player_id=9413707">Cherrystone Hotpack</a> with 5758 yards passed.</div><span id="links"></span></div><div class="accountbox"><a href="/user.php">Account</a></div><div class="messagebox"><a href="/p/messages" style="font-weight: normal;">Messages</a></div>
          <div class="pagecontent">

