<%- include('../partials/header'); %>

<div class="gamefinder" id="vuecontent" coach="<%= coachName %>">

    <div class="leftcolumn">
        <blackbox v-if="featureFlags.blackbox" :display-is-active="display == 'lfg'"></blackbox>

        <div class="basicbox">
            <div class="header">Match Offers<div v-show="additionalOffers > 0" class="additionaloffers">Additional offers: {{ additionalOffers }}</div></div>
            <div class="content" id="offerlistwrapper">
                <div v-show="offers.length === 0" class="nooffers">Sorry, no current offers.</div>
                <div id="offerlist" @mouseenter="setHoverBlock('OFFERS')" @mouseleave="setHoverBlock(null)">
                    <div v-for="offer in offers" :key="offer.id" class="matchoffer">
                        <div class="icon external" v-show="offer.external">?</div>
                        <div class="icon accept" v-show="offer.external">&#x2714;</div>
                        <div class="icon cancel" @click="cancelOffer(offer)">&#x2718;</div>
                        <div class="offeredteam home">
                            <div class="name">
                                {{ abbreviate(offer.home.team, 30) }}
                            </div>
                            <div class="desc">
                                TV {{offer.home.tv}} {{offer.home.race}}
                            </div>
                        </div>
                        <div class="timer" :style="{ width: (100 * offer.timeRemaining / offer.lifetime) + '%', left: (50 - 50 * offer.timeRemaining / offer.lifetime) + '%'}"></div>
                        <div class="offeredteam away">
                            <div class="desc">
                                {{offer.away.race}} TV {{offer.away.tv}}
                            </div>
                            <div class="name">
                                {{ abbreviate(offer.away.team, 30) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rightcolumn">

        <div id="overallstatus">
            <%= coachName %>: You have {{ me.teams.length }} team{{ me.teams.length === 1 ? '' : 's' }} looking for a game.
            <div class="overalllinks"><a href="#" @click.prevent="showTeams">Choose teams</a> <a href="#" @click.prevent="openModalSettings">Settings</a></div>
        </div>

        <div id="teamcards" v-show="display == 'lfg'">

            <div v-for="myTeam in me.teams" :key="myTeam.id" @click="selectTeam(myTeam)"
                class="teamcard" :class="{active: myTeam.selected}"
                :title="myTeam.name + '\n' + myTeam.race + '\n' + myTeam.division + (myTeam.league.name !== undefined ? ' (' + myTeam.league.name + ')' : '')">
                <div class="cardlogo"><img :src="'https://fumbbl.com/i/' + myTeam.raceLogos[0].logo"></div>
                <div class="cardinfo">
                    <div class="teaminfo">
                        <div class="divisionletter">[{{ myTeam.division.charAt(0) }}{{ myTeam.league.name ? '*' : '' }}]</div>{{
                        myTeam.teamValue/1000 }}k
                    </div>
                    <div class="opponentinfo">
                        Oppo:
                        <div class="allowedopponents" :title="myTeam.allow.length + ' possible opponents'">
                            <span class="newopponentsicon" v-show="myTeam.hasUnreadItems">&#9679</span>{{ myTeam.allow.length }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <lfgteams v-if="display == 'teams'" @show-lfg="showLfg"></lfgteams>

        <div id="selectedownteam" v-show="display == 'lfg'">
            <template v-if="selectedOwnTeam">
                <div class="logo">
                    <img :src="'https://fumbbl.com/i/' + selectedOwnTeam.raceLogos[0].logo" />
                </div>
                <div class="teamdetails">
                    <div class="teamname"><a href="#" @click.prevent="openModalRoster">{{ abbreviate(selectedOwnTeam.name, 65) }}</a></div>
                    <div class="teaminfo"><span title="Seasons and games played">S{{ selectedOwnTeam.currentSeason }}:G{{ selectedOwnTeam.gamesPlayedInSeason }}</span> TV {{ selectedOwnTeam.teamValue/1000 }}k {{ selectedOwnTeam.race }}</div>
                </div>
                <div class="teamextras">
                    <div class="divisionleagueinfo">{{ selectedOwnTeam.division }}</div>
                    <div class="teamlinks">
                        <a href="#" @click.prevent="openModalTeamSettings">Settings</a>
                        <a href="#" @click.prevent="selectTeam(selectedOwnTeam)">Deselect</a>
                    </div>
                </div>
            </template>
            <template v-else>
                <div>
                    <strong>No team selected.</strong> To make an offer, select one of your teams above and the list of opponents will be filtered to match that team.
                </div>
            </template>
        </div>

        <div id="opponentslist" v-show="display == 'lfg'" @mouseenter="setHoverBlock('OPPONENTS')" @mouseleave="setHoverBlock(null)">
            <div class="expandcollapseall" v-show="visibleOpponents.length > 0"><a href="#" @click.prevent="expandAllOpponents()">Expand</a> <a href="#" @click.prevent="collapseAllOpponents()">Collapse</a></div>
            <div>
                <strong>{{ selectedOwnTeam ? 'Opponents filtered by selected team.' : 'All opponents on Gamefinder' }}</strong>
            </div>
            <div v-show="visibleOpponents.length === 0">No opponents available.</div>
            <div v-for="opponent in visibleOpponents" :key="opponent.id" class="opponent">
                <div class="coach">
                    <a class="disclosure" @click.prevent="expandOpponent(opponent)" href="#">
                        <span class="showhideicon" v-if="isExpanded(opponent)">&#x25bc;</span>
                        <span class="showhideicon" v-else>&#x25b6;</span>
                        <span class="teamcount" title="Teams listed for this opponent">{{ opponent.teams.filter((o) => o.visible).length }}</span>
                        {{ opponent.name }}
                    </a>
                    <span class="ranking">
                        {{ opponent.ranking }}
                    </span>
                </div>
                <div v-show="isExpanded(opponent)">
                    <div v-for="oppTeam in opponent.teams" v-if="oppTeam.visible" :key="oppTeam.id" class="team">
                        <div class="logo">
                            <img :src="'https://fumbbl.com/i/' + teamLogo(oppTeam)" />
                        </div>
                        <div class="details">
                            <div class="name">{{ abbreviate(oppTeam.name, 55) }}</div>
                            <div class="info">
                                <span v-show="offerExists(oppTeam)" class="offeredtag">Offered</span>
                                <span title="Seasons and games played">S{{ oppTeam.currentSeason }}:G{{ oppTeam.gamesPlayedInSeason }}</span> TV {{ oppTeam.teamValue / 1000 }}k {{ oppTeam.race }}
                            </div>
                        </div>
                        <div class="links">
                            <template v-if="selectedOwnTeam">
                                <template v-if="offerExists(oppTeam)">
                                    <span>Offered</span>
                                </template>
                                <template v-else>
                                    <a href="#" @click.prevent="sendOffer(oppTeam)">Offer</a>
                                </template>
                                <a href="#">Hide</a>
                            </template>
                            <a href="#" @click.prevent="openModalRosterForTeamId(oppTeam.id)">Roster</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rosterouter" v-if="modalDisplayed == 'ROSTER'">
        <div class="rosterinner">
            <a href="#" class="closemodal" @click.prevent="closeModalRoster">&times;</a>
            <div class="rosterinfo">{{ abbreviate(rosterdata.name, 60) }}, TV {{ rosterdata.teamValue/1000 }}k</div>
            <div class="teaminfo">{{ rosterdata.rerolls }} RR, {{rosterdata.fanFactor}} FF, {{ rosterdata.treasury/1000 }}k gold</div>
            <table cellspacing="0" cellpadding="0" width="100%">
            <tr v-for="player in rosterdata.players">
                <td class="position">{{ player.position }}</td><td class="injuries">{{ player.injuries }}</td><td>{{ player.skills }}</td>
            </tr>
            </table>
        </div>
    </div>

    <div class="settingsouter" v-if="modalDisplayed == 'SETTINGS'">
        <div class="settingsinner">
            <a href="#" class="closemodal" @click.prevent="closeModalSettings">&times;</a>
            <div class="settingstitle">Gamefinder settings for ALL teams</div>
            <div class="settingssection">
                <div class="title"><strong>Hidden teams:</strong></div>
                <div>No teams currently hidden.</div>
            </div>
            <div class="settingssection">
                <div class="title"><strong>Hidden coaches:</strong></div>
                <div>No coaches currently hidden.</div>
            </div>
        </div>
    </div>

    <div class="teamsettingsouter" v-if="modalDisplayed == 'TEAM_SETTINGS'">
        <div class="teamsettingsinner">
            <a href="#" class="closemodal" @click.prevent="closeModalTeamSettings">&times;</a>
            <div class="settingstitle">Settings for: {{ abbreviate(selectedOwnTeam.name, 50) }}</div>
            <div class="settingssection">
                <div class="title"><strong>Allowed CTV Range:</strong></div>
                <div>Leave blank to use Gamefinder defaults.</div>
                <div>
                    <label><input type="text" size=4> Under</label>
                </div>
                <div>
                    <label><input type="text" size=4> Over</label>
                </div>
            </div>
            <button>Save changes</button> (maybe we don't want a Save button, just take any valid value as soon as its changed)
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>