<%- include('../partials/header'); %>

<div class="gamefinder" id="vuecontent" coach="<%= coachName %>">

    <div class="leftcolumn">
        <blackbox v-if="featureFlags.blackbox" :display-is-active="display === 'LFG'"></blackbox>

        <offers :offers="offers" :hover-block="hoverBlock" @set-hover-block="setHoverBlock"></offers>
    </div>

    <div class="rightcolumn">
        <div id="overallstatus">
            <%= coachName %>: You have {{ me.teams.length }} team{{ me.teams.length === 1 ? '' : 's' }} looking for a game.
            <div class="overalllinks"><a href="#" @click.prevent="showTeams">Choose teams</a> <a href="#" @click.prevent="openModalSettings">Settings</a></div>
        </div>

        <teamcards v-show="display === 'LFG'" :my-teams="me.teams" @select="selectTeam"></teamcards>

        <lfgteams v-if="display === 'TEAMS'" @show-lfg="showLfg"></lfgteams>

        <selectedownteam
            v-show="display === 'LFG'"
            :team="selectedOwnTeam"
            @deselect-team="deselectTeam"
            @open-modal-roster="openModalRoster"
            @open-modal-team-settings="openModalTeamSettings"></selectedownteam>

        <opponents
            v-show="display == 'LFG'"
            :opponent-map="opponentMap"
            :opponents-refresh-required="opponentsRefreshRequired"
            :selected-own-team="selectedOwnTeam"
            :opponent-team-ids-with-offers-from-selected-own-team="opponentTeamIdsWithOffersFromSelectedOwnTeam"
            :hover-block="hoverBlock"
            @refresh="refresh"
            @opponents-refreshed="setOpponentsRefreshed"
            @set-hover-block="setHoverBlock"
            @open-modal-roster="openModalRosterForTeamId"></opponents>
    </div>

    <roster :modal-settings="modalSettings"></roster>

    <settings :modal-settings="modalSettings"></settings>

    <teamsettings :modal-settings="modalSettings"></teamsettings>
</div>

<%- include('../partials/footer'); %>