<%- include('../partials/header'); %>

<div class="gamefinder" id="vuecontent" coach="<%= coachName %>">

    <div class="leftcolumn">
        <blackbox v-if="featureFlags.blackbox" :display-is-active="display == 'lfg'"></blackbox>

        <div class="basicbox">
            <div class="header">Match Offers<div v-show="additionalOffers > 0" class="additionaloffers">Additional offers: {{ additionalOffers }}</div></div>
            <div class="content" id="offerlistwrapper">
                <div v-show="offers.length === 0" class="nooffers">Sorry, no current offers.</div>
                <div id="offerlist" @mouseenter="setHoverBlock('OFFERS')" @mouseleave="setHoverBlock(null)">
                    <div v-for="offer in offers" :key="offer.id" class="matchoffer">
                        <div class="icon external" v-show="offer.external">?</div>
                        <div class="icon accept" v-show="offer.external">&#x2714;</div>
                        <div class="icon cancel" @click="cancelOffer(offer)">&#x2718;</div>
                        <div class="offeredteam home">
                            <div class="name">
                                {{ abbreviate(offer.home.team, 30) }}
                            </div>
                            <div class="desc">
                                TV {{offer.home.tv}} {{offer.home.race}}
                            </div>
                        </div>
                        <div class="timer" :style="{ width: (100 * offer.timeRemaining / offer.lifetime) + '%', left: (50 - 50 * offer.timeRemaining / offer.lifetime) + '%'}"></div>
                        <div class="offeredteam away">
                            <div class="desc">
                                {{offer.away.race}} TV {{offer.away.tv}}
                            </div>
                            <div class="name">
                                {{ abbreviate(offer.away.team, 30) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rightcolumn">

        <div id="overallstatus">
            <%= coachName %>: You have {{ me.teams.length }} team{{ me.teams.length === 1 ? '' : 's' }} looking for a game.
            <div class="overalllinks"><a href="#" @click.prevent="showTeams">Choose teams</a> <a href="#" @click.prevent="openModalSettings">Settings</a></div>
        </div>

        <teamcards v-show="display == 'lfg'" :my-teams="me.teams" @select="selectTeam"></teamcards>

        <lfgteams v-if="display == 'teams'" @show-lfg="showLfg"></lfgteams>

        <selectedownteam v-show="display == 'lfg'" :team="selectedOwnTeam" @deselect-team="deselectTeam" @open-modal-roster="openModalRoster" @open-modal-team-settings="openModalTeamSettings"></selectedownteam>

        <div id="opponentslist" v-show="display == 'lfg'" @mouseenter="setHoverBlock('OPPONENTS')" @mouseleave="setHoverBlock(null)">
            <div class="expandcollapseall" v-show="visibleOpponents.length > 0"><a href="#" @click.prevent="expandAllOpponents()">Expand</a> <a href="#" @click.prevent="collapseAllOpponents()">Collapse</a></div>
            <div>
                <strong>{{ selectedOwnTeam ? 'Opponents filtered by selected team.' : 'All opponents on Gamefinder' }}</strong>
            </div>
            <div v-show="visibleOpponents.length === 0">No opponents available.</div>
            <div v-for="opponent in visibleOpponents" :key="opponent.id" class="opponent">
                <div class="coach">
                    <a class="disclosure" @click.prevent="expandOpponent(opponent)" href="#">
                        <span class="showhideicon" v-if="isExpanded(opponent)">&#x25bc;</span>
                        <span class="showhideicon" v-else>&#x25b6;</span>
                        <span class="teamcount" title="Teams listed for this opponent">{{ opponent.teams.filter((o) => o.visible).length }}</span>
                        {{ opponent.name }}
                    </a>
                    <span class="ranking">
                        {{ opponent.ranking }}
                    </span>
                </div>
                <div v-show="isExpanded(opponent)">
                    <div v-for="oppTeam in opponent.teams" v-if="oppTeam.visible" :key="oppTeam.id" class="team">
                        <div class="logo">
                            <img :src="'https://fumbbl.com/i/' + teamLogo(oppTeam)" />
                        </div>
                        <div class="details">
                            <div class="name">{{ abbreviate(oppTeam.name, 55) }}</div>
                            <div class="info">
                                <span v-show="offerExists(oppTeam)" class="offeredtag">Offered</span>
                                <span title="Seasons and games played">S{{ oppTeam.currentSeason }}:G{{ oppTeam.gamesPlayedInSeason }}</span> TV {{ oppTeam.teamValue / 1000 }}k {{ oppTeam.race }}
                            </div>
                        </div>
                        <div class="links">
                            <template v-if="selectedOwnTeam">
                                <template v-if="offerExists(oppTeam)">
                                    <span>Offered</span>
                                </template>
                                <template v-else>
                                    <a href="#" @click.prevent="sendOffer(oppTeam)">Offer</a>
                                </template>
                                <a href="#">Hide</a>
                            </template>
                            <a href="#" @click.prevent="openModalRosterForTeamId(oppTeam.id)">Roster</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <roster :modal-settings="modalSettings"></roster>

    <settings :modal-settings="modalSettings"></settings>

    <teamsettings :modal-settings="modalSettings"></teamsettings>
</div>

<%- include('../partials/footer'); %>